
body{
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    padding-bottom: 3%;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 55%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.features-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press Section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-section{
    padding: 3% 2%;
}


@media (max-width: 990px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }

}
